@model IEnumerable<CarrinhoDeCompras.Domain.Entidades.Orders>

@{
    ViewBag.Title = "Meus Pedidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Meus Pedidos</h2>

<p>
    @Html.ActionLink("Novo Pedidos", "NovoPedido")
</p>
<table class="table">
    <tr>
        <th>
            Cliente
        </th>
        <th>
            Data do pedido
        </th>
        <th>
            Data Envio
        </th>

        <th>
            Valor Frete
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ShippedDate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Freight)
            </td>
        </tr>
    }

</table>
